{% extends 'core/base.html' %}

{% block title%}{{ item.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-6">
        <img id="main-image" src="/media/{{ images.0.url }}" data-original="/media/{{ images.0.url }}" class="rounded-xl img-fluid">
        <div class="row row-cols-6 gap-3 mt-4">
            {% for image in images %}
                <img src="/media/{{ image.url }}" class="subimage rounded-xl img-fluid" onclick="changeIndex('{{ image.url }}')">
            {% endfor %}
        </div>
    </div>

    <div class="col-xl-6 p-4 bg-light rounded-xl">
        <span class="d-flex justify-content-between">
            <h1 class="mb-4 text-3xl"><strong>{{ item.name }}</strong> </h1>
            {% comment %} Follow {% endcomment %}
            {% if user.is_authenticated %}
                <a href="{% url 'item:favorite' pk=item.pk %}" class="favorite-toggle">
                    {% if is_followed %}
                        <img id="fill-heart-icon" src="/media/assets/heart-fill28.svg"/>  
                    {% else %}
                        <img id="heart-icon" src="/media/assets/heart28.svg"/>  
                    {% endif %}
                </a>
            {% else %}
                <p>Please <a href="{% url 'login' %}">log in</a> to favorite this item.</p>
            {% endif %}
        </span>
        <p class="fs-5">Gatunek: {{ item.genre }}</p>
        <p class="fs-5">Wytwórnia: {{ item.label }}</p>
        <p class="fs-5">Kraj pochodzenia: {{ item.country }}</p>
        <p class="fs-5">Rok: {{ item.year }}</p>
        <p class="fs-5">Stan płyty: {{ item.condition }}</p>
        <p class="fs-5">Sprzedawca: {{ item.created_by.username }}</p>
        <p class="fs-2"><strong>{{ item.price }} zł</strong></p>

        {% if request.user == item.created_by %}
            <p class="fs-2"><strong>Karton: </strong>{{ item.carton }}</p>
        {% else %}  
            <a href="#" class="btn btn-success mt-6 w-50">Kup</a>
            <form method="post" action="{% url 'core:user-cart' %}">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button type="submit" class="btn btn-success mt-6 w-50" style="background-color: #198754">Dodaj do koszyka</button>
            </form>
        {% endif %}
    </div>
</div>

{% if item.tracklist %}
    <div class="mt-6 p-4 bg-light rounded-xl">
        <h2 class="mb-4 text-2xl">Lista utworów</h2>
        {{ item.tracklist }}
    </div>
{% endif %}


<div class="mt-6 p-4 bg-light rounded-xl">
    <h2 class="mb-4 text-2xl">Jak oceniamy płyty</h2>
    <ul>
        <li><b>IDEALNY (M)</b> -&nbsp;płyta nowa lub nie odtwarzana, bez najmniejszych śladów użycia.</li>
        <li><b>NIEMALŻE IDEALNY (M-)</b> - praktycznie idealna, jednak odtwarzana raz lub kilka razy.</li>
        <li><b>DOSKONAŁY (EX)</b> - odtwarzana, z widoczną niewielką ilością delikatnych rysek lub inną bardzo drobną wadą nie wpływającą na jakość dźwięku.</li>
        <li><b>BARDZO DOBRY Z PLUSEM (VG+)</b> - bardzo dobry stan, może mieć drobne ryski. Odtwarzana wiele razy, jednak z dużą dbałością.</li>
        <li><b>BARDZO DOBRY (VG) </b> - nadal całkiem dobry stan, może mieć więcej drobnych rysek, lub może posiadać głębszą rysę. Odtwarzana wiele razy.</li>
        <li><b>DOBRY</b> <b>(G)</b> - grana bardzo często, może posiadać widoczne głębsze rysy.</li>
        <li><b>ZŁY</b> <b>(F)</b> - poważniejsze rysy.</li>
    </ul>
</div>

<div class="mt-6 px-6 py-12 bg-light rounded-xl">
    <h2 class="mb-4 text-2xl text-center">Oferty, które mogą ci się podobać</h2>

    <div class="row cols-xl-2">
        {% for item in related_items %}
            <div class="col">
                <a href="{% url 'item:detail' item.0.id %}">
                    <div>
                        <img src="/media/{{ item.1.url }}" class="rounded-xl img-fluid">
                    </div>

                    <div class="p-4 bg-white rounded-xl">
                        <h2 class="text-2xl">{{ item.0.name }}</h2>
                        <p class="text-gray-500">{{ item.0.price }} zł</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.1/viewer.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.1/viewer.min.js"></script>

<script>
    // Images preview
    let viewer = new Viewer(document.getElementById('main-image'), {
        inline: false,
        viewed: function() {        },
        toolbar: {
            zoomIn: true,
            zoomOut: true,
            oneToOne: false,
            rotateLeft: true,
            rotateRight: true,
            reset: true,
        },
    });
 
    function changeIndex(url) {
        let mainImage = document.getElementById('main-image');
        mainImage.src = "/media/" + url;
    }

    // Change color of heart
    const heartIcon = document.getElementById('heart-icon');
    const fillHeartIcon = document.getElementById('fill-heart-icon');

    heartIcon.addEventListener('click', function() {
        heartIcon.style.display = heartIcon.style.display === 'none' ? '' : 'none';
    });
</script>
<style>

    #main-image{
        cursor: pointer;
    }

    .subimage {
        opacity: 0.95;
        transition: transform 0.3s;
    }

    .subimage:hover {
        opacity: 1;
        cursor: pointer;
    }
</style>
{% endblock %}