{% extends 'core/base.html' %}

{% block title%}{{ title }}{% endblock %}

{% block content %}

<h1 class="mb-6 display-4">{{ title }}</h1>

<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        {{ form.as_p }}
        {{ imageForm.as_p }}
        <div id="image-preview" class="row row-cols-4 gap-3 mt-4">
            {% for image in imageForm.images.value %}
                <div class="col">
                    <img src="/media/{{ image.url }}" alt="Image Preview" class="img-fluid">
                </div>
            {% endfor %}
        </div>
    </div>

    {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </div>
    {% endif %}
    
    <button class="mt-6 btn btn-success btn-lg">Wystaw</button>
</form>

<script>
    function previewImages() {
        let previewContainer = document.getElementById('image-preview')
        let files = [...document.getElementById('id_images').files]
        previewContainer.innerHTML = ''
    
        for (let i = 0; i < {{ max_images }}; i++) {
            let file = files[i]
            let reader = new FileReader()
    
            reader.onload = function (event) {
                let img = document.createElement('img')
                img.className = 'preview-image'
                img.src = event.target.result
                previewContainer.appendChild(img)
            }
    
            reader.readAsDataURL(file)
        }
    }
    
    let id_images = document.getElementById('id_images')
    if (id_images)
    {
        id_images.addEventListener('change', previewImages)
    } 
    
</script>

{% endblock %}