{% extends 'core/base.html' %}

{% block title %}Ulubione{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if follow_count %}
                <h1 class="mb-12 text-2xl text-center">Ulubione</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Zdjęcie</th>
                                <th scope="col">Produkt</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in favorite_items %}
                            <tr>
                                <td style="width: 10%">
                                    <img src="/media/{{ item.1.url }}" class="img-fluid">
                                </td>
                                <td><a href="{% url 'item:detail' item.0.id %}">{{ item.0.name }}</a></td>
                                <td class="price">{{ item.0.price }}</td>
                                <td>
                                    <a href="{% url 'item:favorite' item.0.id %}">
                                        <div style="width: 30px;">
                                            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            
                            {% endfor %} 
                        </tbody>
                    </table>
            
            {% else %}
                <h1 class="mb-12 text-2xl text-center">Nie masz ulubionych produktów</h1>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
